@page "/singup"
<form action="">
    <p>We will be glad to see you in our bar!</p>
    <p>Your name: </p>
    <input type="text" name="name" placeholder="@selectedPlaceholders[0]">
    <p>Your username:</p>
    <input type="text" name="username" placeholder="@selectedPlaceholders[1]">
    <p>Your email: </p>
    <input type="email" name="email" placeholder="@selectedPlaceholders[2]">
    <p>Your password: </p>
    <input type="password" name="password" placeholder="@selectedPlaceholders[3]">
    <button type="submit">Join us</button>
</form>

@code {
    public int selection { get; set; }
    public string[] selectedPlaceholders;
    private Dictionary<string, string[]> placeholders;
    public Register(){
        //This constructor is used to generate a random set of placeholders
        //to display for all users. It changes every time the page is refreshed.
        var rnd = new Random();
        this.selection = rnd.Next(0, 9);

        this.placeholders = new Dictionary<string, string[]>();
        this.placeholders.Add("name", new string[] {"Anabella Baunti", "John Wick", "Jane Boe", "Anna Bell", 
                "Rick Morty", "Jack Smith", "Bill Whanderson", "Stephanie Sweet", "Casper Spooky", "Sabina Panchenko"});
        this.placeholders.Add("username", new string[] {"anabella", "johnwick", "janeboe", "annabell", "rickmorty", 
                "jacksmith", "billwhanderson", "stephaniesweet", "casperspooky", "sabinapanchenko"});
        this.placeholders.Add("email", new string[] {"@anabella.baunti", "@john.wick", "@jane.boe", "@anna.bell", 
                "@rick.morty", "@jack.smith", "@bill.whanderson", "@stephanie.sweet", "@casper.spooky", "@sabina.panchenko"});
        this.placeholders.Add("password", new string[] {"730275", "185205", "937105", "105205", "105835", "028401", 
                "123456", "0185205", "038502", "074936"});
    
        this.selectedPlaceholders = new string[] {   //The selected placeholders 
            placeholders["name"]    [selection],     //to reference in the UI.
            placeholders["username"][selection],
            placeholders["email"]   [selection],
            placeholders["password"][selection],
        };
    }
}