@page "/singup"
<form action="">
    <p>We will be glad to see you in our bar!</p>
    <p>Your name: </p>
    <input type="text" name="name" placeholder="@selectedPlaceholders[0]">
    <p>Your username:</p>
    <input type="text" name="username" placeholder="@selectedPlaceholders[1]">
    <p>Your email: </p>
    <input type="email" name="email" placeholder="@selectedPlaceholders[2]">
    <p>Your password: </p>
    <input type="password" name="password" placeholder="@selectedPlaceholders[3]">
    <button type="submit">Join us</button>
</form>

@code {
    public int selection { get; set; }
    public List<string> selectedPlaceholders;
    private Dictionary<string, List<string>> placeholders;
    public Register(){
        var rnd = new Random();
        this.selection = rnd.Next(0, 9); //The random set of placeholders
        this.placeholders = new Dictionary<string, List<string>> {
            {"name", new List<string> {"Anabella Baunti", "John Wick", "Jane Boe", "Anna Bell", 
                "Rick Morty", "Jack Smith", "Bill Whanderson", "Stephanie Sweet", "Casper Spooky", "Sabina Panchenko"}},
            {"username", new List<string> {"anabella", "johnwick", "janeboe", "annabell", "rickmorty", 
                "jacksmith", "billwhanderson", "stephaniesweet", "casperspooky", "sabinapanchenko"}},
            {"email", new List<string> {"@anabella.baunti", "@john.wick", "@jane.boe", "@anna.bell", 
                "@rick.morty", "@jack.smith", "@bill.whanderson", "@stephanie.sweet", "@casper.spooky", "@sabina.panchenko"}},
            {"password", new List<string> {"730275", "185205", "937105", "105205", "105835", "028401", 
                "123456", "0185205", "038502", "074936"}},
        };
        this.selectedPlaceholders = new List<string>() { //The selected placeholders 
            placeholders["name"]    [selection],         //to reference in the UI
            placeholders["username"][selection],
            placeholders["email"]   [selection],
            placeholders["password"][selection],
        };
    }
}